body {
    background-color: rgb(0 0 0 / 90%);
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
}
.container {
    margin: 10px auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1120px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        margin: 10px;
    }
}
.title {
    width: 100%;
    background-color: rgb(0 0 0 / 27%);
    outline: none;
    border: none;
    padding: 10px 5px;
    caret-color: white;
    transition: 0.3s;
    border-radius: 6px;
    color: white;
    font-size: 17px;
}
.title:focus {
    background-color: black;
    /* position: relative;
    left: -10px;
    width: calc(100% + 20px); */
    transform: scale(1.1);

}
.flex {
    display: flex;
    margin-top: 10px;
}
.flex input {
    background-color: rgb(0 0 0 / 27%);
    outline: none;
    border: none;
    padding: 10px 5px;
    caret-color: white;
    transition: 0.3s;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    margin-right: 5px;
    flex: 1;
}
.flex input:focus {
    background-color: black;
    transform: scale(1.1);
}
.flex .total {
    background-color: #bf4545;
    color: white;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(0 0 0 / 27%);
    outline: none;
    border: none;
    padding: 10px 5px;
    caret-color: white;
    transition: 0.3s;
    border-radius: 6px;
    color: white;
    font-size: 17px;
}
.count:focus {
    background-color: black;
    transform: scale(1.1);
}
.category {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(0 0 0 / 27%);
    outline: none;
    border: none;
    padding: 10px 5px;
    caret-color: white;
    transition: 0.3s;
    border-radius: 6px;
    color: white;
    font-size: 17px;
}
.category:focus {
    background-color: black;
    transform: scale(1.1);
}
.create {
    color: white;
    text-align: center;
    background-color: #202083;
    padding: 7px 0;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.create:hover {
    background-color: #570e57;
    transform: scale(1.1);
}
.search {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(0 0 0 / 27%);
    outline: none;
    border: none;
    padding: 10px 5px;
    caret-color: white;
    transition: 0.3s;
    border-radius: 6px;
    color: white;
    font-size: 17px;
}
.search:focus {
    background-color: black;
    transform: scale(1.1);
}
.flex2 {
    display: flex;
    justify-content: space-between;
}
.flex2 .sort {
    color: white;
    text-align: center;
    background-color: #202083;
    padding: 7px 0;
    border-radius: 20px;
    transition: 0.3s;
    width: 45%;
    cursor: pointer;
}
.flex2 .sort:hover {
    background-color: #570e57;
    transform: scale(1.1);
}
.delete-all {
    color: white;
    text-align: center;
    background-color: #202083;
    padding: 7px 0;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    display: none;
}
.delete-all:hover {
    background-color: #570e57;
    transform: scale(1.1);
}
table {
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
table tr th {
    text-transform: uppercase;
    color: white;
}
table tr td {
    color: white;
}
table tr td {
    width: 40px;
}
table tr td {
    text-align: center;
}
table tr th {
    text-align: center;
}
table tr th {
    width: 40px;
}
table tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding:  10px 0;
    padding-right: 30px;
}
.edit {
    padding: 5px 10px;
    background-color: #202083;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.edit:hover {
    background-color: #570e57;
    transform: scale(1.1);
}
.flex2 .clicked {
    background-color: #570e57;
}